<nav class="blog-masthead navbar-fixed-top">
  <div class="container">
    <header class="blog-nav-header">
      <span class="blog-nav-brand"><%= link_to 'Harry\'s Blog', root_path %></span>
    </header>
    <ul class="blog-nav">
      <li class='blog-nav-item'><%= link_to 'Home', root_path %></li>
      <li class='blog-nav-item active'><%= link_to 'Diary', articles_path %></li>
      <li class="blog-nav-item"><%= link_to 'New Article', new_article_path %></li>
    </ul>
  </div>
</nav>

<div class="container content">
  <header class="blog-header">
    <h1 class="blog-title">
      <%= @article.title %>
    </h1>

    <p class="lead blog-description">
      Harry's Diary
    </p>
  </header>

  <div class="row">
    <section class="col-sm-8 blog-main">
      <article class='blog-post'>
        <%= @article.text %>
      </article>

        <h2 class='blog-post-title'>Comments</h2>
        <%= render @article.comments %>
 
        <h3>Add a comment:</h3>
        <%= render 'comments/form' %>

      <hr>
 
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back to Diary', articles_path %>

    </section> <!-- /.blog-main -->

    <%= render 'welcome/scroll-button' %>

  </div> <!-- /.row -->
</div> <!-- /.container /.content -->

<%= render 'welcome/footer' %>
